<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post" enctype="multipart/form-data">
        Username 
        <br>
        <input type="text" name="username" id="">
        <br>
        Password 
        <br>
        <input type="password" name="password" id="">
        <br>
        Nombre
        <br>
        <input type="text" name="nombre" id="nombre">
        <br>
        <br>
        Dirección
        <br>
        <input type="text" name="direccion" id="direccion">
        <br>
        <br>
        Edad
        <br>
        <input type="number" name="edad" id="edad">
        <br>
        <br>
        Telefono
        <br>
        <input type="number" name="telefono" id="telefono">
        <br>
        <br>
        Imagen de perfil
        <br>
        <input type="file" name="avatar" id="avatar">
        <br>
        <br>
        <input type="submit" value="User">
        <input type="submit" value="Admin">
    </form>
    <br>
    <form action="/" method="get">
        <button style="margin-left: 3%" type="submit">Sign up</button>
    </form>
</body>
</html>